html, body {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    color: #f3ebdf;
    font-family: "Nanum Gothic", sans-serif;
}

#navContainer{
    min-height: 100vh;
    max-height: 100vh;
    background-color: #202020;
    border: 1px solid #262626;
}

.bloqueNoteFold{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 30px;
    border-radius: 10px;
}

.boton{
    background-color: #191919;
    border: none;
}

.menuNoteFold{
    background-color: #262626;
    border-radius: 10px;
}

.botonNoteFold{
    color: #f3ebdf;
}

.nuevoNoteFold{
    font-size: 90px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 100;
    color:beige;
}

.carpeta{
    font-size: 100px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 100;
    color:beige;
}
